<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="members.scss" type="text/css">
</head>
<body>
    <% @users.each do |user| %>
        <%= user.name %><br>
        <%= user.email %><br>
        <%= user.password_digest %><br>
        <%= user.image %><br>
        <br>
    <% end %>
</body>